.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  min-width: 300px;
  max-width: 80%;
  min-height: 300px;
  max-height: 90vh;
}

.modal-content .pdf {
  height: 80vh;
}

.modal-content .audio {
  min-width: 80%;
}

.page__title {
  margin-top: 30px;
}

.info-container {
  padding: 10px;
  font-size: 1.5rem;
}

.info-container p {
  margin: 0;
  padding: 0;
}

.info-color {
  background-color: beige;
  padding: 10px;
}

.accordion {
  margin: 40px 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 16rem;
  height: 20rem;
  overflow: hidden;
  margin: 20px;
}

.img-card-top {
  max-width: 100%;
  height: 70%;

  background-color: beige;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.modal-content .img-card-top {
  background-color: white;
}

.img-card-top > img,
video,
audio,
embed,
iframe {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

#in-modal-content {
  font-size: 0;
}
